.logo-img{
    width: 100px;
    margin-top: 15px;
}

.middle{
    font-weight: 800;
    font-size:larger;
    margin-top: 15px;
}

.lock{
    margin-top: 15px;
}

.itemslist{
    text-decoration: none;
    color: rgb(3, 93, 63);
    font-size:larger;
}

.top{
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    background-color: white;
}

.review{
    margin-top: 130px;
    display: flex;
    justify-content:space-between;
}

.grid_products{
    display: grid;
    grid-template-columns: 1fr 1fr;
} 

.main-product{
    height: 410px;
    border: 1px solid rgb(222, 217, 217);
    box-shadow: 2px 2px 10px 2px lightgray;
    margin-bottom: 10px;
}

.fit-js{
    width: 680px;
}

.total_cost{
    height: 500px;
    border: 1px solid rgb(222, 217, 217);
    display: flex;
    flex-direction: column;
    padding: 0 15px; 
    font-size: medium;
    margin-left: 5px;
    box-shadow: 2px 2px 10px 2px lightgray;
}

.cost-form{
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    margin: 8px 0;
}

.cost{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: #B12704;
    font-size: larger;
    font-weight: bolder;
}

@media (max-width:1000px){
    .grid_products{
        grid-template-columns:0.7fr;
        justify-content: center;
    }

    .total_cost{
        margin-top: 10px;
    }

    .review{
        margin-left: 110px;
    }

    .place-order{
        width: 400px;
        margin-left: 50px;
    }

    .card{
        width: 400px;
        margin-left: 50px;
    }
} 

@media (min-width:1001px){
   .grid_products{
    display: flex;
    justify-content: center;
   }

   .review{
    margin-left: 250px;
}
   
   .total_cost{
    width: 300px;
   }
}

.payment-place{
    margin-top: 15px;
}

.paypal{
    font-size: large;
    display: inline;
}

.place-order{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gold;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}

.place-order:hover{
    opacity: 0.8;
}

.card{
    margin-top: 20px;
    height: 40px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
}

.card:hover{
    opacity: 0.8;
}

.by{
    text-align: center;
    color: rgb(149, 142, 142);
}

.pay{
    color: rgb(2, 2, 57);
    font-size: large;
}

.pal{
    color:rgb(6, 121, 159);
    font-size: large;
}

.part1{
    width: 460px;
}

.image{
    width: 100px;
    margin: 0 15px;
}

.date{
    color: #007600;
    font-size:small;
    font-weight: bolder;
    margin: 15px;
}

.product{
    display: flex;
}

.two{
    margin-left: 10px;
}

.pro-name{
    font-weight: bolder;
}

.pro-cost{
    color: #B12704;
    font-weight: bolder;
    font-size: large;
    margin-top: -10px;
    margin-bottom: 5px;
}

.quantity{
    display: inline-block;
    font-size: large;
}

button{
    background-color: white;
    border: none;
    color: rgb(6, 111, 146);
    font-size:medium;
    cursor: pointer;
}

button:hover{
    color: #B12704;
}

.radio-but{
    width: 30px;
    height: 15px;
}

.time{
    color: #007600;
    font-weight: bold;
}

p{
    color: rgb(159, 159, 159);
    margin: 0;
}

.radio{
    display: flex;
    align-items: center;
    margin: 10px 10px;
}

.choose{
    margin-left: 25px;
}


@media (min-width:1000px){
    .main-product{
        display: flex;
        height: 250px;
    }
}

.view{
    background-color: gold;
    color: black;
    width: 150px;
    height: 45px;
    cursor: pointer;
    border-radius: 15px;
}